body {
    background-color: rgba(76, 151, 158, 0.849);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.name {
    position: fixed;
    margin-left: 5rem;
    top: 0;
    z-index: 1;
}

nav {
    position: fixed; 
    text-align: right;
    margin: 0;
    top: 0;
    width: 100%;
    height: 4rem;
    background-color: grey;
    border: none;
    border-bottom: 3px rgb(80, 80, 80) solid;
}

nav a {
    display: inline-block;
    background-color: grey;
    color: white;
    text-decoration: none;
    font-weight: bold;
    height: 100%;
    padding: 0 25px;
    margin: 0;
    line-height: 4rem;
}

nav a:hover {
    background-color: rgb(80, 80, 80);
}

.container {
    width: 80%;
    margin: 0 auto 0 auto;
    text-align: justify;
    line-height: 2rem;
    overflow: hidden;
}

.topic {
    text-align: center;
}

#authorPic {
    float: right;
    max-width: 40%;
    margin: 10px 5rem 1rem 5rem;
}

.footer {
    text-align: center;
    padding: 1rem 0;
    background: grey;
    width: 100%;
}

.icon {
    padding-right: 7px;
}

#welcome {
    width: 100%;
    padding: 1rem;
    margin: 4rem auto 2rem auto;
    text-align: center;
    line-height: 2rem;
    overflow: hidden;
    background-image: url('../images/light1.jpg');
    background-position: 2000 500;
}

@media(max-width: 600px){
    #authorPic {
        display: block;
        float: none;
        min-width: 100%;
        margin: 1rem auto;
    }

    nav a {
        display: none;
    }
}

@media(max-width: 650px){
    nav a {
        display: none;
    }
}




